@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,300,300i');

body
{
  font-family: 'Muli', 'Century Gothic', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: black;
}
