.node--type-event.node--view-mode-teaser
{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  &:before
  {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
  }
  &:hover:before
  {
    background: #002633;
    opacity: 0.6;
  }

  .field--name-field-image img
  {
    display: block;
    width: 100%;
    height: auto;
  }

  .field--name-field-event-date
  {
    margin-left: -30px;
    margin-bottom: 1em;
    padding-left: 30px;
    background: $green;
    color: white;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 90px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    font-size: 1.125em;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.25));
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.25));

    &:after
    {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      border: 25px solid transparent;
      border-left-color: $green;
    }
  }
  .node__content
  {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    color: white;
    line-height: 1.25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 30px 30px 0 30px;
    z-index: 1;

    a
    {
      color: white;
      text-decoration: none;
      
      &:hover
      {
        text-decoration: underline;
      }
    }
  }
  h2
  {
    font-weight: 400;
    line-height: 1;
    font-size: 1.5em;
  }
  p, .field--name-field-teaser
  {
    font-size: 0.9375em;
    margin-top: 1em;
  }
  .view-event
  {
    font-weight: bold;
    font-style: italic;
    font-size: 0.9em;
  }
}

.view-events-list
{
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
  .views-row
  {
    float: left;
    width: 30%;
    margin-left: 5%;

    &:nth-child(3n + 1)
    {
      margin-left: 0;
      clear: left;
    }
  }
  .view-footer
  {
    clear: both;
    padding-top: 70px;
    text-align: center;
  }

  &.view-display-id-page
  {
    .view-header
    {
      clear: both;
      margin: 20px 0;

      &:after
      {
        content: "";
        display: block;
        clear: both;
      }
    }
    .calendar-button
    {
      float: right;
      display: block;
      color: transparent;
      min-height: 20px;
      background: url(../images/icon-calendar.svg) no-repeat right center;
      text-decoration: none;
      padding: 5px 25px 5px 5px;

      &:hover, &:focus
      {
        color: $blue;
      }
    }
  }
}

.view-events-calendar
{
  clear: both;
  margin-top: 2em;

  .view-header
  {
    border-bottom: 1px solid $blue;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:after
    {
      content: "";
      display: block;
      clear: both;
    }
    h3
    {
      color: $blue;
      font-size: 1.5em;
      float: left;
      margin-bottom: 0;
    }
    .list-button
    {
      float: right;
      display: block;
      color: transparent;
      min-height: 18px;
      background: url(../images/icon-grid.svg) no-repeat right center;
      text-decoration: none;
      padding: 5px 25px 5px 5px;

      &:hover, &:focus
      {
        color: $blue;
      }
    }
    .pager
    {
      ul
      {
        margin: 0;
      }
    }
  }

  .calendar-calendar
  {
    .inner div
    {
      background: none;
    }
    thead, th
    {
      display: none;
    }
    td
    {
      border-color: white;
      background: #f2f5f6;
      text-align: left;
    }
    .single-day
    {
      height: 100px;
      vertical-align: bottom !important;
    }
    .day
    {
      float: none;
    }
    .today
    {
      border-color: $blue !important;
      background: #f2f5f6 !important;
    }
    .date-box
    {
      color: $blue;
    }
    .has-event
    {
      background: $orange !important;
      color: white;

      a
      {
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.55);
        font-size: 14px;
        line-height: 1;
      }
      .calendar,
      .view-item
      {
        float: none !important;
        margin: 0;
      }
      .item
      {
        padding: 0 8px 8px 8px;
      }
    }
    .empty
    {
      font-size: 0;
      background: none !important;
      border: 0 !important;
    }
  }
}
