.field--name-field-partners
{
  margin-top: 2em;

  & > div
  {
    float: left;
    width: 33.3333%;
    padding: 0 15px 40px 15px;
    box-sizing: border-box;

    &:nth-child(3n+1)
    {
      clear: left;
    }
    &
    {
      @media (max-width: 760px)
      {
        width: 50%;

        &:nth-child(3n+1)
        {
          clear: none;
        }
        &:nth-child(2n+1)
        {
          clear: left;
        }
      }
      @media (max-width: 480px)
      {
        width: auto;
        float: none;
        max-width: 360px;
        margin: 0 auto;

        &:nth-child(2n+1)
        {
          clear: none;
        }
      }
    }
  }
  .field--name-field-image
  {
    min-width: 160px;
    line-height: 160px;
    margin-bottom: 20px;
    text-align: center;

    img
    {
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .paragraph--type--partner > a
  {
    display: block;
    color: #818181;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    line-height: 1;

    &:hover
    {
      color: $blue;
    }
  }
}
