.block--newsletter-subscription
{
  clear: both;
  background: $purple url(../images/bg-newsletter-subscription.png) no-repeat center bottom;
  background-size: contain;
  color: white;
  padding: 50px 25px;
  position: relative;
  overflow: hidden;

  &:before
  {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    height: 100%;
    top: 0;
    left: -25%;
    box-shadow: 0 0 7px rgba(0,0,0,0.3) inset;
  }

  & > div
  {
    max-width: 620px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  h2
  {
    color: white;
    text-align: center;
  }

  label
  {
    position: absolute;
    left: -999999px;
  }
  input[type=text],
  input[type=email]
  {
    color: $blue;
  }
  .form-actions
  {
    text-align: center;
  }
}

.block--contact-map
{
  height: 650px;

  h2
  {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .infowindow-container
  {
    margin-top: 10px;
    margin-left: 3px;

    & > :nth-child(1)
    {
      //arrow
      & div
      {
        background-color: transparent !important;
        box-shadow: none !important;
      }
      & > :nth-child(1)
      {
        border-width: 10px 7px 0 7px !important;
      }
    }
  }
  .location
  {
    color: white;
    font-size: 15px;
  }
  .location-blue
  {
    &, & div
    {
      background-color: $blue !important;
    }
    & > :nth-child(1) > :nth-child(1)
    {
      border-top-color: $blue !important;
    }
  }
  .location-green
  {
    &, & div
    {
      background-color: $green !important;
    }
    & > :nth-child(1) > :nth-child(1)
    {
      border-top-color: $green !important;
    }
  }
  .location-orange
  {
    &, & div
    {
      background-color: $orange !important;
    }
    & > :nth-child(1) > :nth-child(1)
    {
      border-top-color: $orange !important;
    }
  }
  .location-yellow
  {
    &, & div
    {
      background-color: $yellow !important;
    }
    & > :nth-child(1) > :nth-child(1)
    {
      border-top-color: $yellow !important;
    }
  }
  .location-purple
  {
    &, & div
    {
      background-color: $purple !important;
    }
    & > :nth-child(1) > :nth-child(1)
    {
      border-top-color: $purple !important;
    }
  }
}
