@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,300,300i");
* {
  margin: 0;
  padding: 0; }

input, textarea, button {
  font-family: inherit;
  font-size: inherit; }

body {
  font-family: 'Muli', 'Century Gothic', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: black; }

a {
  color: #0099cc;
  text-decoration: underline; }

p {
  margin-bottom: 1.5em; }
  p:last-child {
    margin-bottom: 0; }

ul, ol {
  margin-bottom: 1.5em;
  margin-left: 25px; }

li {
  margin-bottom: 0.25em; }

main h2 {
  color: #8dc63f;
  font-weight: 300;
  font-size: 2.2em;
  margin-bottom: 0.5em;
  line-height: 1; }

main h3 {
  color: #8dc63f;
  font-weight: 300;
  font-size: 1.6em;
  margin-bottom: 0.5em;
  line-height: 1; }

main h4 {
  color: #8dc63f;
  font-weight: bold;
  font-size: 1.15em;
  margin-bottom: 0.5em;
  line-height: 1; }

main img {
  display: block;
  max-width: 100%;
  height: auto !important; }

.layout-container .button,
.layout-container input[type="button"],
.layout-container input[type="submit"] {
  border: 0;
  background-color: #33add6;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  line-height: 50px;
  height: 50px;
  display: inline-block;
  padding: 0 20px;
  min-width: 240px;
  -webkit-appearance: none;
  appearance: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  border-radius: 0; }
  .layout-container .button:before,
  .layout-container input[type="button"]:before,
  .layout-container input[type="submit"]:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 20px solid #0099cc;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  .layout-container .button:after,
  .layout-container input[type="button"]:after,
  .layout-container input[type="submit"]:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 20px solid #0099cc;
    border-left-color: transparent;
    border-top-color: transparent; }
  .layout-container .button:hover,
  .layout-container input[type="button"]:hover,
  .layout-container input[type="submit"]:hover {
    background-color: #a4d165; }
    .layout-container .button:hover:before,
    .layout-container input[type="button"]:hover:before,
    .layout-container input[type="submit"]:hover:before {
      border-right-color: #8dc63f;
      border-top-color: #8dc63f; }
    .layout-container .button:hover:after,
    .layout-container input[type="button"]:hover:after,
    .layout-container input[type="submit"]:hover:after {
      border-right-color: #8dc63f;
      border-bottom-color: #8dc63f; }

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel] {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 47px;
  line-height: 45px;
  background: white;
  -webkit-appearance: none;
  appearance: none; }

::-webkit-input-placeholder {
  color: #0099cc;
  font-style: italic; }

::-moz-placeholder {
  color: #0099cc;
  font-style: italic; }

:-ms-input-placeholder {
  color: #0099cc;
  font-style: italic; }

:-moz-placeholder {
  color: #0099cc;
  font-style: italic; }

select {
  color: #0099cc;
  font-style: italic;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  padding: 0 48px 0 20px;
  height: 47px;
  line-height: 45px;
  background: white url(../images/dropdown.svg) no-repeat 90% center;
  background-position: calc(100% - 20px);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }

textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  padding: 12px 20px;
  background: white;
  -webkit-appearance: none;
  appearance: none;
  min-height: 180px; }

label {
  font-weight: bold;
  display: block; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.form-item {
  margin-top: 0; }

.form-type-radio,
.form-type-checkbox {
  position: relative; }
  .form-type-radio input,
  .form-type-checkbox input {
    position: absolute;
    left: -999999px; }
  .form-type-radio label,
  .form-type-checkbox label {
    padding-left: 30px;
    position: relative;
    font-weight: 600;
    font-weight: normal;
    font-size: 0.9em; }
    .form-type-radio label:before,
    .form-type-checkbox label:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #7f7f7f;
      border-radius: 10px;
      width: 13px;
      height: 13px;
      background: white;
      cursor: pointer; }
    .form-type-radio label:after,
    .form-type-checkbox label:after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 10px;
      width: 7px;
      height: 7px;
      margin: 0;
      cursor: pointer;
      background: white;
      transition: background 0.2s; }
  .form-type-radio input:checked + label:after,
  .form-type-checkbox input:checked + label:after {
    background: #7f7f7f; }
  .form-type-radio input:focus + label:before,
  .form-type-checkbox input:focus + label:before {
    box-shadow: 0 0 5px #0099cc; }

.form-type-checkbox label:before {
  border-radius: 3px; }

.form-type-checkbox label:after {
  border-radius: 2px; }

@media (min-width: 740px) {
  .form-item {
    clear: both; }
  .form-item.form-left-column {
    float: left;
    clear: left;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 0; }
  .form-item.form-right-column {
    float: left;
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
    clear: none;
    margin-top: 0; }
  .form-item.form-1-of-3-column {
    float: left;
    clear: none;
    width: 33.333%;
    box-sizing: border-box;
    padding-right: 10px;
    margin-top: 0; }
  .form-item.form-2-of-3-column {
    float: left;
    clear: none;
    width: 33.333%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0; }
  .form-item.form-3-of-3-column {
    float: left;
    clear: none;
    width: 33.333%;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 0; }
  .form-item.form-2-3rd-column {
    float: left;
    clear: left;
    width: 66.666%;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 0; }
  .form-item.form-1-3rd-column {
    float: left;
    width: 33.333%;
    padding-left: 10px;
    box-sizing: border-box;
    clear: none;
    margin-top: 0; }
  .form-item.form-2-3rd-column.form-right {
    clear: none;
    padding-left: 10px;
    padding-right: 0; }
  .form-item.form-1-3rd-column.form-left {
    padding-right: 10px;
    padding-left: 0;
    clear: left; } }

.webform--contact label {
  position: absolute;
  left: -999999px; }

.webform--contact .form-actions {
  text-align: center; }

.form--volunteer-application > fieldset > legend {
  color: #0099cc;
  font-size: 1.5em;
  display: block;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  line-height: 1;
  margin-bottom: 12px;
  font-weight: 300; }

@media (min-width: 740px) {
  .form--volunteer-application > fieldset > .fieldset-wrapper {
    padding: 0 40px; } }

@media (max-width: 480px) {
  .form--volunteer-application input[type=file] {
    display: block;
    width: 100%; } }

header {
  background: white;
  position: relative; }

.layout-top {
  max-width: 1260px;
  padding: 0 25px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 760px) {
    .layout-top {
      padding-top: 42px; } }
  .layout-top:after {
    content: "";
    display: block;
    clear: both; }

.region-logo {
  float: left;
  padding-top: 25px; }
  @media (max-width: 860px) {
    .region-logo img {
      display: block;
      width: 320px;
      height: auto; } }
  @media (max-width: 760px) {
    .region-logo {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media (max-width: 480px) {
    .region-logo img {
      width: 250px; } }
  @media (max-width: 350px) {
    .region-logo img {
      width: 210px; } }

.region-top {
  float: right;
  padding: 30px 0 10px 0; }
  @media (max-width: 760px) {
    .region-top {
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 41px;
      border-bottom: 1px solid #e6e6e6; } }

.block--search {
  float: left; }
  .block--search form {
    display: block;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    position: relative;
    padding-right: 60px; }
    @media (max-width: 420px) {
      .block--search form {
        padding-right: 32px; } }
    .block--search form .form-search {
      background: transparent;
      border: 0;
      -webkit-appearance: none;
      appearance: none;
      height: 40px;
      line-height: 40px;
      padding: 0 12px;
      width: 160px; }
      @media (max-width: 940px) {
        .block--search form .form-search {
          width: 100px; } }
      @media (max-width: 360px) {
        .block--search form .form-search {
          width: 80px; } }
    .block--search form .form-submit {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent url(../images/icon-search.svg) no-repeat center center;
      border: 0;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      width: 60px;
      height: 40px;
      font-size: 0;
      color: transparent;
      min-width: 0;
      padding: 0; }
      @media (max-width: 420px) {
        .block--search form .form-submit {
          width: 32px; } }
      .block--search form .form-submit:hover {
        background-color: transparent; }
  .block--search .form-item {
    margin: 0; }

.block--social-menu {
  float: left;
  margin-left: 25px; }
  @media (max-width: 400px) {
    .block--social-menu {
      margin-left: 20px; } }
  @media (max-width: 335px) {
    .block--social-menu {
      margin-left: 10px; } }
  .block--social-menu .menu {
    margin: 0;
    list-style: none;
    line-height: 42px; }
    .block--social-menu .menu li {
      margin: 0 30px 0 0;
      padding: 0;
      float: left; }
      @media (max-width: 1140px) {
        .block--social-menu .menu li {
          margin-right: 15px; } }
      @media (max-width: 400px) {
        .block--social-menu .menu li {
          margin-right: 12px; } }
      @media (max-width: 335px) {
        .block--social-menu .menu li {
          margin-right: 10px; } }
    .block--social-menu .menu a {
      display: block;
      padding-left: 30px;
      color: #0099cc;
      font-weight: bold;
      background-repeat: no-repeat;
      background-position: left center;
      text-decoration: none;
      font-size: 0.9375em; }
      .block--social-menu .menu a:hover {
        text-decoration: underline; }
      @media (max-width: 1140px) {
        .block--social-menu .menu a {
          font-size: 0; } }
    .block--social-menu .menu .fb {
      background-image: url(../images/social-fb-blue.svg);
      padding-left: 19px; }
    .block--social-menu .menu .tw {
      background-image: url(../images/social-tw-blue.svg); }
    .block--social-menu .menu .in {
      background-image: url(../images/social-in-blue.svg);
      padding-left: 27px; }

.block--login-link {
  float: left;
  line-height: 42px; }
  @media (max-width: 760px) {
    .block--login-link {
      float: right;
      padding-left: 10px;
      border-left: 1px solid #e6e6e6; } }
  .block--login-link .login {
    display: block;
    color: #0099cc;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px 0 16px;
    background: url(../images/icon-login.svg) no-repeat left center;
    text-transform: uppercase;
    font-size: 15px; }
    .block--login-link .login:hover {
      text-decoration: underline; }

.block--main-menu {
  float: right;
  clear: right; }
  @media (max-width: 760px) {
    .block--main-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 10;
      background: #0099cc;
      display: none; } }
  .block--main-menu .menu, .block--main-menu li {
    margin: 0;
    list-style: none; }
  .block--main-menu > .menu > li {
    display: block;
    float: left;
    position: relative; }
    @media (max-width: 760px) {
      .block--main-menu > .menu > li {
        float: none; } }
    .block--main-menu > .menu > li > a, .block--main-menu > .menu > li > span {
      color: #0099cc;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      padding: 30px 10px;
      line-height: 1; }
      @media (max-width: 760px) {
        .block--main-menu > .menu > li > a, .block--main-menu > .menu > li > span {
          padding: 18px 25px;
          background: #0099cc;
          color: white;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
          font-weight: bold;
          border-bottom: 1px solid #3dafd6; }
          .block--main-menu > .menu > li > a:hover, .block--main-menu > .menu > li > span:hover {
            background: #8dc63f; } }
    .block--main-menu > .menu > li:hover > a, .block--main-menu > .menu > li:hover > span {
      color: #8dc63f;
      font-weight: bold;
      padding: 23px 10px 30px 10px;
      border-bottom: 7px solid #0099cc; }
      @media (max-width: 760px) {
        .block--main-menu > .menu > li:hover > a, .block--main-menu > .menu > li:hover > span {
          border-bottom: 1px solid #3dafd6;
          font-weight: bold;
          padding: 18px 25px;
          color: white; } }
    .block--main-menu > .menu > li > .menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 280px;
      z-index: 100; }
      @media (max-width: 760px) {
        .block--main-menu > .menu > li > .menu {
          display: block;
          position: static;
          width: auto; } }
      .block--main-menu > .menu > li > .menu > li {
        display: block; }
        .block--main-menu > .menu > li > .menu > li > a {
          display: block;
          color: white;
          font-size: 0.875em;
          font-weight: bold;
          background: #0099cc;
          text-decoration: none;
          padding: 16px 20px;
          line-height: 1;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
          border-bottom: 1px solid #3dafd6; }
          .block--main-menu > .menu > li > .menu > li > a:hover {
            background: #8dc63f; }
          @media (max-width: 760px) {
            .block--main-menu > .menu > li > .menu > li > a {
              padding: 18px 25px 18px 40px; } }
        .block--main-menu > .menu > li > .menu > li:last-child > a {
          border-bottom: 0; }
          @media (max-width: 760px) {
            .block--main-menu > .menu > li > .menu > li:last-child > a {
              border-bottom: 1px solid #3dafd6; } }
    .block--main-menu > .menu > li:nth-last-child(1) > .menu, .block--main-menu > .menu > li:nth-last-child(2) > .menu {
      left: auto;
      right: 0; }
    .block--main-menu > .menu > li:hover > .menu {
      display: block; }

.block--menu-btn {
  display: none;
  float: right;
  margin-top: 40px; }
  @media (max-width: 760px) {
    .block--menu-btn {
      display: block; } }
  @media (max-width: 480px) {
    .block--menu-btn {
      margin-top: 30px; } }
  .block--menu-btn .menu-btn {
    text-transform: uppercase;
    font-weight: bold;
    width: 50px;
    height: 22px;
    line-height: 22px;
    padding-bottom: 13px;
    background: url(../images/icon-menu-btn.svg) no-repeat bottom center;
    text-decoration: none;
    font-size: 14px;
    text-align: center; }

.view-header-images {
  clear: both; }
  .view-header-images .node--type-header-image {
    position: relative;
    overflow: hidden; }
    .view-header-images .node--type-header-image:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -25%;
      width: 150%;
      height: 100%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
      z-index: 1; }
    .view-header-images .node--type-header-image img {
      display: block;
      width: 100%;
      height: auto; }
    @media (max-width: 480px) {
      .view-header-images .node--type-header-image .field--name-field-header-image img {
        width: 150%;
        margin-left: -25%; } }
    @media (max-width: 375px) {
      .view-header-images .node--type-header-image .field--name-field-header-image img {
        width: 200%;
        margin-left: -50%; } }
    .view-header-images .node--type-header-image .field--name-body {
      position: absolute;
      width: 60%;
      max-width: 640px;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      padding: 0 25px;
      box-sizing: border-box;
      margin-top: -30px;
      color: white;
      z-index: 2; }
      .view-header-images .node--type-header-image .field--name-body a {
        color: white; }
      @media (max-width: 760px) {
        .view-header-images .node--type-header-image .field--name-body {
          margin-top: 0; }
          .view-header-images .node--type-header-image .field--name-body img {
            display: none; } }
      @media (max-width: 480px) {
        .view-header-images .node--type-header-image .field--name-body {
          width: 100%; }
          .view-header-images .node--type-header-image .field--name-body .button {
            min-width: 0;
            width: 100%; } }
  .view-header-images .slick-arrow {
    font-size: 0;
    position: absolute;
    display: block;
    width: 45px;
    height: 60px;
    min-width: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    padding: 0;
    border: 0; }
    .view-header-images .slick-arrow:before, .view-header-images .slick-arrow:after {
      display: none; }
    .view-header-images .slick-arrow:hover {
      background-color: transparent; }
  .view-header-images .slick-prev {
    left: 5%;
    background-image: url(../images/arrow-left.svg); }
  .view-header-images .slick-next {
    right: 5%;
    background-image: url(../images/arrow-right.svg); }
  .view-header-images .slick-dots-container {
    position: absolute;
    bottom: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2; }
    @media (max-width: 860px) {
      .view-header-images .slick-dots-container {
        bottom: 50px; } }
    @media (max-width: 760px) {
      .view-header-images .slick-dots-container {
        bottom: 0; } }
    .view-header-images .slick-dots-container button {
      background: transparent;
      padding: 0;
      font-size: 0;
      min-width: 0;
      position: relative;
      width: 30px;
      height: 30px;
      border: 0;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none; }
      .view-header-images .slick-dots-container button:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -5px;
        margin-top: -5px;
        background: white;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 0; }
      .view-header-images .slick-dots-container button:after {
        display: none; }
    .view-header-images .slick-dots-container .slick-active button:after {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 14px;
      height: 14px;
      border: 2px solid white;
      margin-left: -9px;
      margin-top: -9px;
      border-radius: 16px;
      background: transparent; }
    .view-header-images .slick-dots-container ul {
      list-style: none;
      margin: 0;
      display: inline-block; }
    .view-header-images .slick-dots-container li {
      display: inline-block; }

.layout-container {
  overflow: hidden; }

.layout-content {
  clear: both;
  padding: 50px 25px;
  margin: 0 auto;
  max-width: 1100px;
  color: #818181; }
  .layout-content:after {
    content: "";
    display: block;
    clear: both; }

@media (min-width: 761px) {
  .with-sidebar .region-content {
    width: 60%;
    float: left;
    margin-right: 10%; }
  .region-sidebar {
    width: 30%;
    float: left;
    box-sizing: border-box; } }

@media (max-width: 760px) {
  .region-sidebar {
    clear: both;
    margin-top: 40px; } }

.block--page-title {
  clear: both;
  position: relative;
  padding: 10.5% 25px;
  background: url(../images/bg-header1.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden; }
  .block--page-title:before {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset; }
  .block--page-title .page-title {
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.65);
    font-size: 4em;
    line-height: 1;
    position: relative;
    z-index: 1; }
    @media (max-width: 480px) {
      .block--page-title .page-title {
        font-size: 3em; } }

.block--sidebar-menu .menu {
  list-style: none;
  margin: 0; }
  .block--sidebar-menu .menu li {
    display: block;
    margin: 0;
    border-top: 1px solid #e0e0e0; }
  .block--sidebar-menu .menu a {
    display: block;
    padding: 20px 30px;
    color: #0099cc;
    text-decoration: none;
    line-height: 1; }
    .block--sidebar-menu .menu a:hover {
      text-decoration: underline; }
  .block--sidebar-menu .menu .is-active {
    font-weight: bold; }

.footer-container {
  background: #0099cc;
  color: white;
  position: relative;
  overflow: hidden; }
  .footer-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -25%;
    width: 150%;
    height: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25) inset; }
  .footer-container > div {
    position: relative;
    z-index: 1; }
  .footer-container a {
    color: white; }

.region-footer {
  padding: 60px 25px 50px 25px;
  max-width: 1260px;
  margin: 0 auto; }
  .region-footer:after {
    content: "";
    display: block;
    clear: both; }

.block--footer-info {
  float: left;
  margin-right: 40px;
  font-size: 0.875em; }
  @media (max-width: 760px) {
    .block--footer-info {
      float: none;
      margin: 0 auto 25px auto;
      width: 270px; } }
  .block--footer-info p {
    margin-bottom: 0;
    padding-bottom: 25px; }
  @media (max-width: 1060px) {
    .block--footer-info .logo img {
      display: block;
      width: 250px;
      height: auto; } }
  @media (max-width: 1060px) {
    .block--footer-info .logo img {
      width: 270px; } }
  .block--footer-info .address {
    padding-left: 45px;
    background: url(../images/icon-address.svg) no-repeat 2px top; }
  .block--footer-info .phone {
    padding-left: 45px;
    background: url(../images/icon-phone.svg) no-repeat 4px top; }
  .block--footer-info .email {
    padding-left: 45px;
    padding-bottom: 0;
    background: url(../images/icon-email.svg) no-repeat left top; }

.block--footer-social-menu {
  float: right;
  margin: -12px 0 0 40px; }
  @media (max-width: 760px) {
    .block--footer-social-menu {
      float: none;
      margin: 0 0 25px 0; } }
  @media (max-width: 760px) {
    .block--footer-social-menu .menu {
      text-align: center; } }
  .block--footer-social-menu .menu li {
    float: none;
    margin: 0;
    display: block; }
    @media (max-width: 760px) {
      .block--footer-social-menu .menu li {
        display: inline-block; } }
  .block--footer-social-menu .menu a {
    color: white;
    padding-left: 31px;
    font-size: 1em; }
    @media (max-width: 1140px) {
      .block--footer-social-menu .menu a {
        font-size: 0; } }
  .block--footer-social-menu .menu .fb {
    background-image: url(../images/social-fb-white.svg);
    background-position: 5px center;
    padding-left: 31px; }
  .block--footer-social-menu .menu .tw {
    background-image: url(../images/social-tw-white.svg); }
  .block--footer-social-menu .menu .in {
    background-image: url(../images/social-in-white.svg);
    padding-left: 31px; }

.block--footer-menu {
  overflow: hidden; }
  .block--footer-menu > .menu {
    margin: 0;
    list-style: none;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 40px;
    font-size: 0.875em; }
    @media (max-width: 1060px) {
      .block--footer-menu > .menu {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2; } }
    @media (max-width: 480px) {
      .block--footer-menu > .menu {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1; } }
    .block--footer-menu > .menu > li {
      break-inside: avoid;
      page-break-inside: avoid;
      margin-bottom: 8px; }
      .block--footer-menu > .menu > li > a {
        text-transform: uppercase;
        font-weight: bold; }
      .block--footer-menu > .menu > li > .menu {
        list-style: none;
        margin: 4px 0 0 15px; }
        .block--footer-menu > .menu > li > .menu > li {
          line-height: 1;
          margin-bottom: 6px; }
    .block--footer-menu > .menu a {
      text-decoration: none; }
      .block--footer-menu > .menu a:hover {
        text-decoration: underline; }

.footer-bottom {
  background: #8dc63f;
  line-height: 48px;
  font-size: 0.8em;
  color: white; }
  @media (max-width: 760px) {
    .footer-bottom {
      padding-bottom: 50px; } }
  .footer-bottom:after {
    content: "";
    display: block;
    clear: both; }
  .footer-bottom > div {
    padding: 0 25px;
    max-width: 1260px;
    margin: 0 auto; }
  .footer-bottom a {
    color: white; }
  .footer-bottom .copyright {
    float: left; }
    @media (max-width: 480px) {
      .footer-bottom .copyright {
        float: none;
        line-height: 1.5;
        padding-top: 20px; } }
  .footer-bottom .site-by-cci {
    float: right; }
    @media (max-width: 480px) {
      .footer-bottom .site-by-cci {
        float: none;
        line-height: 1.5;
        padding-bottom: 20px; } }
    .footer-bottom .site-by-cci a {
      text-decoration: none; }
      .footer-bottom .site-by-cci a:hover {
        text-decoration: underline; }

.block--fun-facts {
  background: #6e267b;
  color: white;
  position: relative;
  clear: both;
  padding: 50px 25px;
  overflow: hidden; }
  .block--fun-facts:before {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25) inset; }
  .block--fun-facts > div {
    position: relative;
    z-index: 1; }
  .block--fun-facts .views-row {
    display: none; }
  .block--fun-facts a {
    color: white; }
  .block--fun-facts .field--name-body {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: 2.25em;
    font-weight: 300;
    line-height: 1.25;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }

.block--back-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white; }
  @media (max-width: 760px) {
    .block--back-to-top.show {
      display: block; } }
  .block--back-to-top .back-to-top {
    display: block;
    text-align: center;
    line-height: 50px;
    height: 50px;
    color: #8dc63f;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em; }
    .block--back-to-top .back-to-top:before {
      content: "";
      display: inline-block;
      width: 22px;
      height: 14px;
      background: url(../images/icon-back-to-top.svg) no-repeat left center; }

.paragraph--type--collapsible-item {
  border-top: 1px solid #e6e6e6;
  padding: 15px 0; }
  .paragraph--type--collapsible-item:last-child {
    border-bottom: 1px solid #e6e6e6; }
  .paragraph--type--collapsible-item:before {
    content: "";
    background-image: url(../images/collapsible-minus.svg);
    position: absolute;
    left: -99999999px; }
  .paragraph--type--collapsible-item .field--name-field-title a {
    display: block;
    color: #0099cc;
    padding: 5px 60px 5px 16px;
    line-height: 1;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/collapsible-plus.svg) no-repeat 90% center;
    background-position: calc(100% - 40px) center; }
    @media (max-width: 480px) {
      .paragraph--type--collapsible-item .field--name-field-title a {
        padding-left: 0;
        padding-right: 30px;
        background-position: right center; } }
  .paragraph--type--collapsible-item.open .field--name-field-title a {
    background-image: url(../images/collapsible-minus.svg); }
  .paragraph--type--collapsible-item .field--name-field-body {
    display: none;
    padding: 0 60px 0 50px; }
    @media (max-width: 480px) {
      .paragraph--type--collapsible-item .field--name-field-body {
        padding: 0 0 0 25px; } }

.paragraph--type--content,
.paragraph--type--collapsible-content {
  margin-bottom: 1.5em; }
  .paragraph--type--content:last-child,
  .paragraph--type--collapsible-content:last-child {
    margin-bottom: 0; }

.region-widgets {
  margin: -60px auto 0 auto;
  max-width: 1260px;
  padding: 0 25px;
  position: relative;
  z-index: 2; }
  @media (max-width: 860px) {
    .region-widgets {
      margin-top: -40px; } }
  @media (max-width: 760px) {
    .region-widgets {
      margin-top: 25px; } }
  .region-widgets:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 25px;
    right: 25px;
    height: 60px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5); }
    @media (max-width: 860px) {
      .region-widgets:before {
        height: 40px; } }
    @media (max-width: 860px) {
      .region-widgets:before {
        display: none; } }
  .region-widgets:after {
    content: "";
    display: block;
    clear: both; }

.block--home-widget {
  float: left;
  width: 20%;
  height: 260px;
  box-sizing: border-box;
  padding: 50px 55px 0 30px;
  position: relative;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 1; }
  @media (max-width: 1200px) {
    .block--home-widget {
      height: 290px; } }
  @media (max-width: 1060px) {
    .block--home-widget {
      padding: 40px 25px 0 25px; } }
  @media (max-width: 800px) {
    .block--home-widget {
      padding: 30px 18px 0 18px; } }
  @media (max-width: 760px) {
    .block--home-widget {
      padding: 25px 25px 10px 25px;
      float: none;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      height: auto; } }
  .block--home-widget:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -235px;
    border: 250px solid transparent;
    border-left-color: rgba(255, 255, 255, 0.1);
    margin-top: -250px; }
    @media (max-width: 760px) {
      .block--home-widget:hover:before {
        display: none; } }
  .block--home-widget > div {
    position: relative;
    z-index: 1; }
  .block--home-widget a {
    color: white; }
  .block--home-widget h2 {
    color: white;
    line-height: 1;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    font-size: 1.5em; }
    @media (max-width: 760px) {
      .block--home-widget h2 {
        padding-bottom: 0; } }
    .block--home-widget h2:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 30px;
      background-repeat: no-repeat;
      background-position: top left;
      filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25)); }
  .block--home-widget p {
    font-size: 0.875em;
    line-height: 1.25;
    margin-bottom: 1em; }
  .block--home-widget .learn-more {
    text-decoration: none;
    font-style: italic;
    font-weight: bold; }
    .block--home-widget .learn-more:hover {
      text-decoration: underline; }

.block--home-widget--get-involved {
  background: #0099cc; }
  .block--home-widget--get-involved h2:before {
    background-image: url(../images/icon-get-involved.svg); }

.block--home-widget--events {
  background: #fcbb16; }
  .block--home-widget--events h2:before {
    background-image: url(../images/icon-events.svg); }

.block--home-widget--supports-services {
  background: #8dc63f; }
  .block--home-widget--supports-services h2:before {
    background-image: url(../images/icon-services.svg); }

.block--home-widget--donate {
  background: #e35525; }
  .block--home-widget--donate h2:before {
    background-image: url(../images/icon-donate.svg); }

.block--home-widget--resources {
  background: #6e267b; }
  .block--home-widget--resources h2:before {
    background-image: url(../images/icon-resources.svg); }

.block--fee-for-service {
  clear: both;
  margin-top: 60px;
  margin-bottom: 40px;
  background: url(../images/bg-fee.jpg) no-repeat top center;
  background-size: cover;
  color: white;
  padding: 60px 25px 90px 25px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset; }
  .block--fee-for-service > div {
    width: 480px;
    max-width: 40%;
    margin-left: 50%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }
    @media (max-width: 760px) {
      .block--fee-for-service > div {
        margin: 0 auto;
        max-width: 100%; } }
  .block--fee-for-service h2 {
    font-weight: 300;
    font-size: 2.25em;
    color: white; }
  .block--fee-for-service .button {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }
    @media (max-width: 480px) {
      .block--fee-for-service .button {
        display: block;
        width: 240px;
        margin: 0 auto; } }
  .block--fee-for-service:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background: white;
    height: 30px;
    margin-left: -30px;
    z-index: 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25); }
  .block--fee-for-service:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    background: white;
    height: 30px;
    margin-left: 30px;
    z-index: 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25); }
  .block--fee-for-service > div:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -30px;
    z-index: 2;
    border: 15px solid white;
    border-top-color: transparent;
    border-right-color: transparent; }
  .block--fee-for-service > div:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 2;
    border: 15px solid white;
    border-top-color: transparent;
    border-left-color: transparent; }

.node--type-event.node--view-mode-teaser,
.view-event-list .views-row {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  .node--type-event.node--view-mode-teaser:before,
  .view-event-list .views-row:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5; }
  .node--type-event.node--view-mode-teaser:hover:before,
  .view-event-list .views-row:hover:before {
    background: #002633;
    opacity: 0.6; }
  .node--type-event.node--view-mode-teaser .field--name-field-image img,
  .node--type-event.node--view-mode-teaser .views-field-field-image img,
  .view-event-list .views-row .field--name-field-image img,
  .view-event-list .views-row .views-field-field-image img {
    display: block;
    width: 100%;
    height: auto; }
  .node--type-event.node--view-mode-teaser .field--name-field-event-date,
  .node--type-event.node--view-mode-teaser .views-field-field-event-date,
  .view-event-list .views-row .field--name-field-event-date,
  .view-event-list .views-row .views-field-field-event-date {
    margin-left: -30px;
    margin-bottom: 1em;
    padding-left: 30px;
    background: #8dc63f;
    color: white;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 90px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    font-size: 1.125em;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25)); }
    .node--type-event.node--view-mode-teaser .field--name-field-event-date:after,
    .node--type-event.node--view-mode-teaser .views-field-field-event-date:after,
    .view-event-list .views-row .field--name-field-event-date:after,
    .view-event-list .views-row .views-field-field-event-date:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      border: 25px solid transparent;
      border-left-color: #8dc63f; }
  .node--type-event.node--view-mode-teaser .node__content,
  .view-event-list .views-row .node__content {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 1.25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 30px 30px 0 30px;
    z-index: 1; }
    .node--type-event.node--view-mode-teaser .node__content a,
    .view-event-list .views-row .node__content a {
      color: white;
      text-decoration: none; }
      .node--type-event.node--view-mode-teaser .node__content a:hover,
      .view-event-list .views-row .node__content a:hover {
        text-decoration: underline; }
  .node--type-event.node--view-mode-teaser h2,
  .view-event-list .views-row h2 {
    font-weight: 400;
    line-height: 1;
    font-size: 1.5em; }
  .node--type-event.node--view-mode-teaser p, .node--type-event.node--view-mode-teaser .field--name-field-teaser, .node--type-event.node--view-mode-teaser .views-field-field-teaser,
  .view-event-list .views-row p,
  .view-event-list .views-row .field--name-field-teaser,
  .view-event-list .views-row .views-field-field-teaser {
    font-size: 0.9375em;
    margin-top: 1em; }
  .node--type-event.node--view-mode-teaser .view-event,
  .view-event-list .views-row .view-event {
    font-weight: bold;
    font-style: italic;
    font-size: 0.9em; }

.view-events-list:after,
.view-event-list:after {
  content: "";
  display: block;
  clear: both; }

.view-events-list .views-row,
.view-event-list .views-row {
  float: left;
  width: 30%;
  margin-left: 5%;
  margin-bottom: 5%; }
  .view-events-list .views-row:nth-child(3n + 1),
  .view-event-list .views-row:nth-child(3n + 1) {
    margin-left: 0;
    clear: left; }
  @media (max-width: 760px) {
    .view-events-list .views-row,
    .view-event-list .views-row {
      float: none;
      width: 100%;
      max-width: 320px;
      margin: 0 auto 20px auto; }
      .view-events-list .views-row:nth-child(3n + 1),
      .view-event-list .views-row:nth-child(3n + 1) {
        margin-left: auto; } }

.view-events-list .view-footer,
.view-event-list .view-footer {
  clear: both;
  text-align: center; }

.view-events-calendar {
  clear: both;
  margin-top: 2em; }
  .view-events-calendar .view-header {
    border-bottom: 1px solid #0099cc;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    .view-events-calendar .view-header:after {
      content: "";
      display: block;
      clear: both; }
    .view-events-calendar .view-header h3 {
      color: #0099cc;
      font-size: 1.5em;
      float: left;
      margin-bottom: 0; }
    .view-events-calendar .view-header .pager ul {
      margin: 0; }
  .view-events-calendar > .view-footer {
    display: none; }
  .view-events-calendar > .view-content > .views-row {
    display: none; }
  .view-events-calendar .list-button {
    float: right;
    display: block;
    color: transparent;
    min-height: 20px;
    background: url(../images/icon-grid.svg) no-repeat right center;
    text-decoration: none;
    padding: 5px 25px 5px 5px; }
    .view-events-calendar .list-button:hover, .view-events-calendar .list-button:focus {
      color: #0099cc; }
  .view-events-calendar .calendar-button {
    display: none;
    float: right;
    color: transparent;
    min-height: 20px;
    background: url(../images/icon-calendar.svg) no-repeat right center;
    text-decoration: none;
    padding: 5px 25px 5px 5px; }
    .view-events-calendar .calendar-button:hover, .view-events-calendar .calendar-button:focus {
      color: #0099cc; }
  .view-events-calendar.show-list-view .list-button,
  .view-events-calendar.show-list-view .calendar-container {
    display: none; }
  .view-events-calendar.show-list-view .calendar-button,
  .view-events-calendar.show-list-view > .view-footer {
    display: block; }
  @media (max-width: 760px) {
    .view-events-calendar .list-button,
    .view-events-calendar .calendar-button,
    .view-events-calendar .calendar-container {
      display: none; }
    .view-events-calendar > .view-footer {
      display: block; } }
  .view-events-calendar .fc-toolbar {
    display: none; }
  .view-events-calendar .fc-view-container table {
    border: 0; }
  .view-events-calendar .fc-view-container .fc-widget-content {
    border: 0; }
  .view-events-calendar .fc-view-container .fc-head {
    display: none; }
  .view-events-calendar .fc-view-container .fc-day-number {
    color: #0099cc;
    float: none !important;
    padding: 8px 10px;
    display: block;
    line-height: 1; }
  .view-events-calendar .fc-view-container .fc-bg td {
    border: 1px solid white;
    background: #f2f5f6; }
  .view-events-calendar .fc-view-container .fc-bg .has-event {
    background: #e35525 !important;
    color: white; }
  .view-events-calendar .fc-view-container .fc-bg .fc-today {
    position: relative; }
    .view-events-calendar .fc-view-container .fc-bg .fc-today:before {
      content: "";
      border: 2px solid #0099cc;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
  .view-events-calendar .fc-view-container .has-event .fc-day-number {
    color: white; }
  .view-events-calendar .fc-view-container .fc-event-container a {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
    font-size: 14px;
    line-height: 1;
    background: none;
    border: 0;
    margin: 0.25em 6px; }
    .view-events-calendar .fc-view-container .fc-event-container a:hover {
      text-decoration: underline; }
    .view-events-calendar .fc-view-container .fc-event-container a .fc-content {
      white-space: normal;
      overflow: visible; }
  .view-events-calendar .fc-view-container .fc-other-month {
    font-size: 0;
    background: none !important;
    border: 0 !important; }
  .view-events-calendar .fc-view-container .fc-scroller {
    overflow: visible !important;
    height: auto; }

.node--type-event .field--name-field-event-dates {
  margin-top: 1.5em; }

.node--type-event .event-footer {
  margin-top: 1.5em; }

.block--newsletter-subscription {
  clear: both;
  background: #6e267b url(../images/bg-newsletter-subscription.png) no-repeat center bottom;
  background-size: contain;
  color: white;
  padding: 50px 25px;
  position: relative;
  overflow: hidden; }
  .block--newsletter-subscription:before {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    height: 100%;
    top: 0;
    left: -25%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3) inset; }
  .block--newsletter-subscription > div {
    max-width: 620px;
    margin: 0 auto;
    position: relative;
    z-index: 1; }
  .block--newsletter-subscription h2 {
    color: white;
    text-align: center; }
  .block--newsletter-subscription label {
    position: absolute;
    left: -999999px; }
  .block--newsletter-subscription input[type=text],
  .block--newsletter-subscription input[type=email] {
    color: #0099cc; }
  .block--newsletter-subscription .form-actions {
    text-align: center; }

.block--contact-map {
  height: 650px; }
  .block--contact-map h2 {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0; }
  .block--contact-map .infowindow-container {
    margin-top: 10px;
    margin-left: 3px; }
    .block--contact-map .infowindow-container > :nth-child(1) div {
      background-color: transparent !important;
      box-shadow: none !important; }
    .block--contact-map .infowindow-container > :nth-child(1) > :nth-child(1) {
      border-width: 10px 7px 0 7px !important; }
  .block--contact-map .location {
    color: white;
    font-size: 15px; }
  .block--contact-map .location-blue, .block--contact-map .location-blue div {
    background-color: #0099cc !important; }
  .block--contact-map .location-blue > :nth-child(1) > :nth-child(1) {
    border-top-color: #0099cc !important; }
  .block--contact-map .location-green, .block--contact-map .location-green div {
    background-color: #8dc63f !important; }
  .block--contact-map .location-green > :nth-child(1) > :nth-child(1) {
    border-top-color: #8dc63f !important; }
  .block--contact-map .location-orange, .block--contact-map .location-orange div {
    background-color: #e35525 !important; }
  .block--contact-map .location-orange > :nth-child(1) > :nth-child(1) {
    border-top-color: #e35525 !important; }
  .block--contact-map .location-yellow, .block--contact-map .location-yellow div {
    background-color: #fcbb16 !important; }
  .block--contact-map .location-yellow > :nth-child(1) > :nth-child(1) {
    border-top-color: #fcbb16 !important; }
  .block--contact-map .location-purple, .block--contact-map .location-purple div {
    background-color: #6e267b !important; }
  .block--contact-map .location-purple > :nth-child(1) > :nth-child(1) {
    border-top-color: #6e267b !important; }

.field--name-field-partners {
  margin-top: 2em; }
  .field--name-field-partners > div {
    float: left;
    width: 33.3333%;
    padding: 0 15px 40px 15px;
    box-sizing: border-box; }
    .field--name-field-partners > div:nth-child(3n+1) {
      clear: left; }
    @media (max-width: 760px) {
      .field--name-field-partners > div {
        width: 50%; }
        .field--name-field-partners > div:nth-child(3n+1) {
          clear: none; }
        .field--name-field-partners > div:nth-child(2n+1) {
          clear: left; } }
    @media (max-width: 480px) {
      .field--name-field-partners > div {
        width: auto;
        float: none;
        max-width: 360px;
        margin: 0 auto; }
        .field--name-field-partners > div:nth-child(2n+1) {
          clear: none; } }
  .field--name-field-partners .field--name-field-image {
    min-width: 160px;
    line-height: 160px;
    margin-bottom: 20px;
    text-align: center; }
    .field--name-field-partners .field--name-field-image img {
      display: inline-block;
      max-width: 100%;
      vertical-align: middle; }
  .field--name-field-partners .paragraph--type--partner {
    color: #818181;
    font-weight: bold;
    text-align: center;
    line-height: 1; }
    .field--name-field-partners .paragraph--type--partner > a {
      display: block;
      color: #818181;
      text-decoration: none; }
      .field--name-field-partners .paragraph--type--partner > a:hover {
        color: #0099cc; }

.block--job-postings {
  background: #6e267b url(../images/icon-briefcase-bg.svg) no-repeat 80% 60%;
  color: white;
  clear: both;
  padding: 60px 25px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }
  .block--job-postings > div {
    max-width: 1100px;
    margin: 0 auto; }
  .block--job-postings a {
    color: white; }
  .block--job-postings h2 {
    color: white;
    line-height: 1;
    margin-bottom: 30px; }
  .block--job-postings .views-row {
    border-top: 1px solid #8b5195;
    padding: 18px 0 10px 0;
    position: relative; }
    .block--job-postings .views-row:last-child {
      border-bottom: 1px solid #8b5195; }
  .block--job-postings .node__title {
    padding-bottom: 8px; }
    .block--job-postings .node__title h3 {
      font-size: 1em;
      margin-bottom: 0; }
    .block--job-postings .node__title a {
      display: block;
      padding: 0 60px 0 20px;
      font-weight: bold;
      text-decoration: none;
      position: relative; }
      @media (max-width: 540px) {
        .block--job-postings .node__title a {
          padding-left: 0; } }
      .block--job-postings .node__title a:before {
        content: "";
        display: block;
        width: 18px;
        height: 4px;
        background: #8dc63f;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 20px; }
      .block--job-postings .node__title a:after {
        content: "";
        display: block;
        height: 18px;
        width: 4px;
        background: #8dc63f;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: 27px; }
      .block--job-postings .node__title a.open:after {
        display: none; }
  .block--job-postings .node__content {
    display: none;
    padding: 0 60px 8px 50px; }
    @media (max-width: 540px) {
      .block--job-postings .node__content {
        padding-left: 25px;
        padding-right: 0; } }
  .block--job-postings .more-details {
    margin-top: 1em; }
    .block--job-postings .more-details a {
      font-style: italic;
      font-size: 0.8125em;
      text-decoration: none;
      font-weight: bold; }
      .block--job-postings .more-details a:hover {
        text-decoration: underline; }

.view-board-members.view-display-id-block_teasers {
  margin-top: 2em; }
  .view-board-members.view-display-id-block_teasers .views-row {
    float: left;
    width: 24%;
    margin-left: 1.25%;
    margin-bottom: 1.25%;
    position: relative; }
    .view-board-members.view-display-id-block_teasers .views-row:nth-child(4n+1) {
      margin-left: 0;
      clear: left; }
    @media (max-width: 1100px) {
      .view-board-members.view-display-id-block_teasers .views-row {
        width: 32%;
        margin-left: 2%;
        margin-bottom: 2%; }
        .view-board-members.view-display-id-block_teasers .views-row:nth-child(4n+1) {
          margin-left: 2%;
          clear: none; }
        .view-board-members.view-display-id-block_teasers .views-row:nth-child(3n+1) {
          margin-left: 0;
          clear: left; } }
    @media (max-width: 860px) {
      .view-board-members.view-display-id-block_teasers .views-row {
        width: 49%; }
        .view-board-members.view-display-id-block_teasers .views-row:nth-child(3n+1) {
          margin-left: 2%;
          clear: none; }
        .view-board-members.view-display-id-block_teasers .views-row:nth-child(2n+1) {
          margin-left: 0;
          clear: left; } }
    @media (max-width: 600px) {
      .view-board-members.view-display-id-block_teasers .views-row {
        float: none;
        width: auto;
        max-width: 280px;
        margin: 0 auto 20px auto; }
        .view-board-members.view-display-id-block_teasers .views-row:nth-child(3n+1) {
          margin-left: auto; }
        .view-board-members.view-display-id-block_teasers .views-row:nth-child(2n+1) {
          margin-left: auto; } }

.node--type-board-member.node--view-mode-teaser {
  position: relative; }
  .node--type-board-member.node--view-mode-teaser .field--name-field-image img {
    display: block;
    width: 100%;
    height: auto; }
  .node--type-board-member.node--view-mode-teaser .node__content {
    background: #8dc63f;
    color: white;
    position: absolute;
    left: 0;
    right: 55px;
    bottom: 20px;
    padding: 5px 5px 7px 14px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    -moz-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)); }
    .node--type-board-member.node--view-mode-teaser .node__content:before {
      content: "";
      display: block;
      position: absolute;
      left: 100%;
      top: 50%;
      width: 25px;
      height: 50%;
      background: linear-gradient(to top left, rgba(141, 198, 63, 0) 49%, #8dc63f 51%); }
    .node--type-board-member.node--view-mode-teaser .node__content:after {
      content: "";
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
      width: 25px;
      height: 50%;
      background: linear-gradient(to bottom left, rgba(141, 198, 63, 0) 49%, #8dc63f 51%); }
  .node--type-board-member.node--view-mode-teaser .field--name-title {
    display: block;
    line-height: 1;
    font-size: 1.4em; }
  .node--type-board-member.node--view-mode-teaser .field--name-field-board-title {
    font-size: 0.9em;
    line-height: 1;
    padding-top: 2px; }
  .node--type-board-member.node--view-mode-teaser .link {
    font-size: 0;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

.node--type-board-member.node--view-mode-popup {
  display: none;
  background: white;
  position: fixed;
  width: 100%;
  max-width: 780px;
  max-height: 100%;
  overflow: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 101;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }
  .node--type-board-member.node--view-mode-popup > div {
    padding-left: 50%; }
    @media (max-width: 760px) {
      .node--type-board-member.node--view-mode-popup > div {
        padding-left: 0;
        padding-top: 225px; } }
  .node--type-board-member.node--view-mode-popup .field--name-field-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media (max-width: 760px) {
      .node--type-board-member.node--view-mode-popup .field--name-field-image {
        top: 25px;
        height: 200px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        border-radius: 100px; } }
  .node--type-board-member.node--view-mode-popup .node__content {
    padding: 30px 40px;
    position: relative;
    min-height: 320px; }
    @media (max-width: 760px) {
      .node--type-board-member.node--view-mode-popup .node__content {
        min-height: 0; } }
  .node--type-board-member.node--view-mode-popup .field--name-title {
    color: #8dc63f;
    font-size: 1.4em;
    line-height: 1; }
  .node--type-board-member.node--view-mode-popup .field--name-field-board-title {
    color: #8dc63f;
    margin-bottom: 1em;
    line-height: 1; }
  .node--type-board-member.node--view-mode-popup .field--name-field-phone-number a {
    display: block;
    margin-top: 1em;
    padding-left: 38px;
    color: #8dc63f;
    background: url(../images/icon-bio-phone.svg) no-repeat 11px center; }
  .node--type-board-member.node--view-mode-popup .close {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 22px;
    height: 22px;
    background: url(../images/icon-bio-close.svg) no-repeat center center;
    font-size: 0;
    text-decoration: none; }

.bio-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #0099cc;
  opacity: 0.4;
  cursor: pointer; }

.path-part-board-of-directors .layout-content {
  position: relative; }

.block--volunteer-board {
  background: #e35525;
  color: white;
  padding: 0 25px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }
  .block--volunteer-board > div {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 0;
    background: url(../images/icon-hands.svg) no-repeat right bottom; }
    .block--volunteer-board > div > div {
      max-width: 612px; }
  .block--volunteer-board h2, .block--volunteer-board a {
    color: white; }

.search-result {
  margin-bottom: 2em; }
