.footer-container
{
  background: $blue;
  color: white;
  position: relative;
  overflow: hidden;

  &:before
  {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -25%;
    width: 150%;
    height: 100%;
    box-shadow: 0 0 12px rgba(0,0,0,0.25) inset;
  }
  & > div
  {
    position: relative;
    z-index: 1;
  }

  a
  {
    color: white;
  }
}
.region-footer
{
  padding: 60px 25px 50px 25px;
  max-width: 1260px;
  margin: 0 auto;

  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
}
.block--footer-info
{
  float: left;
  margin-right: 40px;
  font-size: 0.875em;

  &
  {
    @media (max-width: 760px)
    {
      float: none;
      margin: 0 auto 25px auto;
      width: 270px;
    }
  }

  p
  {
    margin-bottom: 0;
    padding-bottom: 25px;
  }
  .logo img
  {
    &
    {
      @media (max-width: 1060px)
      {
        display: block;
        width: 250px;
        height: auto;
      }
      @media (max-width: 1060px)
      {
        width: 270px;
      }
    }
  }
  .address
  {
    padding-left: 45px;
    background: url(../images/icon-address.svg) no-repeat 2px top;
  }
  .phone
  {
    padding-left: 45px;
    background: url(../images/icon-phone.svg) no-repeat 4px top;
  }
  .email
  {
    padding-left: 45px;
    padding-bottom: 0;
    background: url(../images/icon-email.svg) no-repeat left top;
  }
}
.block--footer-social-menu
{
  float: right;
  margin: -12px 0 0 40px;

  &
  {
    @media (max-width: 760px)
    {
      float: none;
      margin: 0 0 25px 0;
    }
  }

  .menu
  {
    &
    {
      @media (max-width: 760px)
      {
        text-align: center;
      }
    }

    li
    {
      float: none;
      margin: 0;
      display: block;

      &
      {
        @media (max-width: 760px)
        {
          display: inline-block;
        }
      }
    }
    a
    {
      color: white;
      padding-left: 31px;
      font-size: 1em;

      &
      {
        @media (max-width: 1140px)
        {
          font-size: 0;
        }
      }
    }
    .fb
    {
      background-image: url(../images/social-fb-white.svg);
      background-position: 5px center;
      padding-left: 31px;
    }
    .tw
    {
      background-image: url(../images/social-tw-white.svg);
    }
    .in
    {
      background-image: url(../images/social-in-white.svg);
      padding-left: 31px;
    }
  }
}
.block--footer-menu
{
  overflow: hidden;

  & > .menu
  {
    margin: 0;
    list-style: none;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 40px;
    font-size: 0.875em;

    &
    {
      @media (max-width: 1060px)
      {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
      @media (max-width: 480px)
      {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      }
    }

    & > li
    {
      break-inside: avoid;
      page-break-inside: avoid;
      margin-bottom: 8px;

      & > a
      {
        text-transform: uppercase;
        font-weight: bold;
      }
      & > .menu
      {
        list-style: none;
        margin: 4px 0 0 15px;

        & > li
        {
          line-height: 1;
          margin-bottom: 6px;
        }
      }
    }
    a
    {
      text-decoration: none;

      &:hover
      {
        text-decoration: underline;
      }
    }
  }
}
.footer-bottom
{
  background: $green;
  line-height: 48px;
  font-size: 0.8em;
  color: white;

  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
  & > div
  {
    padding: 0 25px;
    max-width: 1260px;
    margin: 0 auto;
  }
  a
  {
    color: white;
  }
  .copyright
  {
    float: left;

    &
    {
      @media (max-width: 480px)
      {
        float: none;
        line-height: 1.5;
        padding-top: 20px;
      }
    }
  }
  .site-by-cci
  {
    float: right;

    &
    {
      @media (max-width: 480px)
      {
        float: none;
        line-height: 1.5;
        padding-bottom: 20px;
      }
    }

    a
    {
      text-decoration: none;

      &:hover
      {
        text-decoration: underline;
      }
    }
  }
}

.block--fun-facts
{
  background: $purple;
  color: white;
  position: relative;
  clear: both;
  padding: 80px 25px;
  overflow: hidden;

  &:before
  {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0;
    box-shadow: 0 0 7px rgba(0,0,0,0.25) inset;
  }
  & > div
  {
    position: relative;
    z-index: 1;
  }
  .views-row
  {
    display: none;
  }

  a
  {
    color: white;
  }
  .field--name-body
  {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: 2.25em;
    font-weight: 300;
    line-height: 1.25;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  }
}
