.layout-container
{
  overflow: hidden;
}

.layout-content
{
  clear: both;
  padding: 50px 25px;
  margin: 0 auto;
  max-width: 1100px;
  color: #818181;

  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
}

@media (min-width: 761px)
{
  .with-sidebar .region-content
  {
    width: 60%;
    float: left;
    margin-right: 10%;
  }
  .region-sidebar
  {
    width: 30%;
    float: left;
    box-sizing: border-box;
  }
}
@media (max-width: 760px)
{
  .region-sidebar
  {
    clear: both;
    margin-top: 40px;
  }
}

.block--page-title
{
  clear: both;
  position: relative;
  padding: 10.5% 25px;
  background: url(../images/bg-header1.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;

  &:before
  {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
  }

  .page-title
  {
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 12px rgba(0,0,0,0.65);
    font-size: 4em;
    line-height: 1;
    position: relative;
    z-index: 1;

    &
    {
      @media (max-width: 480px)
      {
        font-size: 3em;
      }
    }
  }
}

.block--sidebar-menu
{
  .menu
  {
    list-style: none;
    margin: 0;

    li
    {
      display: block;
      margin: 0;
      border-top: 1px solid #e0e0e0;
    }
    a
    {
      display: block;
      padding: 20px 30px;
      color: $blue;
      text-decoration: none;
      line-height: 1;

      &:hover
      {
        text-decoration: underline;
      }
    }
    .is-active
    {
      font-weight: bold;
    }
  }
}
